@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #d5d5ff;
  color: #fff;
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  padding: 10px;
}

body.dark_mode {
  background: #363655;
  transition: 0.6s ease;
}

#toggler {
  position: relative;
  height: 45px;
  width: 85px;
  border-radius: 20px;
  background: linear-gradient(60deg, #363655, #7979ca);
  cursor: pointer;
}
.toggle_container {
  /* background: red; */
  position: absolute;
  top: 5%;
  right: 5%;
  height: 55px;
  width: 175px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#round {
  position: absolute;
  top: 50%;
  left: 68%;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: #f4f4f8;
  transition: 0.6s ease;
}

#round.toggle {
  left: 30%;
  transition: 0.6s ease;
}

.sun {
  height: 40px;
  visibility: visible;
  transition: 0.2s ease-in;
}
.sun.hide {
  visibility: hidden;
  transition: 0.2s ease-in;
}
.moon {
  height: 35px;
  visibility: hidden;
  transition: 0.2s ease-in;
}
.moon.show {
  visibility: visible;
  transition: 0.2s ease-in;
}
h2 {
  margin: 10px 0 20px;
  text-align: center;
  transition: 0.6s ease;
}
h2.dark_text {
  color: #363655;
  transition: 0.6s ease;
}

.label1,
.label2,
.label3,
.label4,
.label5 {
  transition: 0.6s ease;
}
.label1.dark_text_for_label {
  color: #363655;
  transition: 0.6s ease;
}

.label2.dark_text_for_label {
  color: #363655;
  transition: 0.6s ease;
}

.label3.dark_text_for_label {
  color: #363655;
  transition: 0.6s ease;
}

.label4.dark_text_for_label {
  color: #363655;
  transition: 0.6s ease;
}

.label5.dark_text_for_label {
  color: #363655;
  transition: 0.6s ease;
}

h2 {
  margin: 10px 0 20px;
  text-align: center;
}

.container {
  background-color: #363655;
  border: 1px transparent;
  border-radius: 10px;
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 350px;
  max-width: 100%;
}


.container.dark {
  background: #d5d5ff;
}

.result-container {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 12px 10px;
  height: 50px;
  border: 1px transparent;
  border-radius: 5px; 
  width: 100%;
}

.result-container #result {
  word-wrap: break-word;
  max-width: calc(100% - 40px);
}

.result-container .btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.btn {
  border: 1px transparent;
  border-radius: 5px;
  background-color: #7979ca;
  color: #fff;
  font-size: 16px;
  padding: 8px 12px;
  cursor: pointer;
}

.btn-large {
  display: block;
  width: 100%;
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

#length{
  background-color: #7979ca;
  color: #fff;
  width: 50px;
  padding: 6px;
  outline: none;
  border: 1px transparent;
  border-radius: 2px;
}
#strength{
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 5px;
  border: 1px transparent;
  border-radius: 5px;
  margin-bottom: 20px;
}
